	
<!-- {% for content in global.content limit:1%}

	<div class="content-section">
	  <h3 class="subheader">{{ content.header }}</h3>
	  	<div class="row">
	  		<div class="medium-6 columns">
			  <h4>{{ content.subheader }}</h4>
			  <p>{{ content.paragraph }}</p>
			</div>
			<div class="medium-6 columns">
				<div class="panel xl flex-align">
            	<i class="fa fa-image fa-4x"></i>
        		</div>
			</div>
		</div>
	</div>
{% endfor %} -->


{% for izlet in global.izleti %}		
<div class="medium-4 small-6 columns">
<a href="/docs/advanced/izlet?izlet_name={{ izlet.name }}">
		<img src="http://placehold.it/500x500&amp;text=[img]">
		<div class="panel">
			<h5>{{izlet.name}}</h5>
			<h6 class="subheader">{{izlet.price}} kn</h6>
		</div>
	</a>
</div>
{% endfor %}


<!-- <li>
	<a href="/country?country_name={{ country-card.name }}">
  	<div class="panel radius">
  	<img src="http://placehold.it/768x400&amp;text={{ country-card.name }}">
  	&nbsp
     <h3>{{ country-card.name }}</h3>
     <p class="description">{{ country-card.description }}</p>
	</div>
	</a>
</li> -->


<!-- 		# array = [1,2,3,4,5,6]
		{% for item in array limit:2 offset:2 %}
		  {{ item }}
		{% endfor %}
		# results in 3,4   


		  {% for country in global.countries %}
    {% if country.name == request.query.country_name %}
      <h1>{{ country.name }}</h1>
      <p>{{ country.description }}</p>
    {% endif %}
  {% endfor %}

  -->